{{> head }}
{{> navbar }}
<div class="row">
       <div class="col-8">
           <h1>Esta es mi bruja Vianney</h1>
           <p>
                A ella le gusta mucho el sushi, el chocolate y es una consentida! Tambien le gusta entrenar pero a veces le da flojerita.
            </p>
       </div>
       <div class="col-4">
           <img src="assets/img/356-3561328_sticker-little-witch-academia-littlewitchacademia-.png" class="img-thumbnail" >
            
       </div>
   </div>

   {{> footer}}